{% extends "toolshare/base_home.html" %}

{% block title %}
| Create a shed
{% endblock %}

{% block breadcrumb %}
<li><a href="/toolshare/">Home</a></li><li class="active"><a href="#"></a>Shed creation</li>
{% endblock %}

{% block main_heading %}
<h2>Community shed creation</h2>
<p>Create a new community shed.</p>
{% endblock %}

{% block content %}
{% if shedcreation_form.errors %}
    <div class="alert alert-block alert-inline-top alert-dismissable" style="display:block;">
    <h4>The shed could not be created...</h4>
    {% if shedcreation_form.non_field_errors %}
        {{ shedcreation_form.non_field_errors }}
        {% else %}
        Check the error messages displayed below and try again.
        {% endif%}
        <button type="button" class="close" data-dismiss="alert">×</button>
    </div>
    {% endif %}

<div class="inner-padding">

    <form action="{%url 'toolshare:create-shed' %}" method="post">{% csrf_token %}
      {% for field in shedcreation_form %}
            <div class="row">
                <div class="col-sm-3"><label>{{field.label}}:</label></div>
                <div class="col-sm-9">

                    {% if field.errors %}

                    <div class="form-group has-error">
                        {% for error in field.errors %}
                        <label class="control-label" for="id_password">{{error}}</label>
                        {% endfor %}
                        {% else %}
                        <div class="form-group ">
                            {% endif %}
                            <div class="controls">{{ field }}</div>
                        </div><!--form group end-->

                    </div>
                </div><!--Row end-->
                {% endfor %}

                <div class="row">

                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <input type="submit" value="Create shed" />
                    </div>
                </div>
    </form>

</div>
</div><!--Window end
{% endblock %}