{% extends "toolshare/base-user-home.html" %}

{% block title%}
    | My account - List sheds
{% endblock %}

{% block breadcrumb %}
<li><a href="/toolshare/">Home</a></li><li><a href="/toolshare/my_account">My account</a></li><li class="active"><a href="#"></a>Managed sheds</li>
{% endblock %}

{% block main_heading %}
<h2>Managed sheds</h2>
<p>Manage your community sheds</p>
{% endblock %}

{% block actionbar_content%}
<div class="actionbar">
    <div class="pull-left">
        <ul class="ext-tabs">
            <li><a href="/toolshare/my_account" onclick="window.open('/toolshare/my_account', '_self')">My information</a></li>
            <li class="active"><a href="/toolshare/list-sheds" onclick="window.open('/toolshare/list-sheds', '_self')">Managed sheds</a></li>
            <li><a href="/toolshare/list-owned-tools" onclick="window.open('/toolshare/list-owned-tools', '_self')">Owned Tools</a></li>
        </ul>
    </div>
</div><!--actionbar-->
{% endblock %}

{% block tab_content %}

<div id="managed_sheds" class="tab-pane active">
    <div class="inner-padding">
        <div class="col-sm-12 centered">

            <div class="widget">
                <header>
                    <div class="pull-left">
                        <h2>My managed sheds</h2>
                    </div>
                    <div class="pull-right">
                        <a class="btn btn-default btn-sm" href="/toolshare/create-shed">
                            Create shed
                        </a>
                    </div>
                </header>
                <div>

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Address</th>
                            <!--<th scope="col" class="th-3-action-btn">Action</th>-->
                        </tr>
                        {% for shed in shed_page %}
                        {# Each "shed" is a Shed model object. #}
                        <tr>
                            <td>{{ shed.to_string }}</td>
                            <!--<td>
                                <a href="#">Edit</a>
                            </td>-->
                        </tr>
                        {% endfor %}

                        {% if user_sheds.count == 0 %}
                        <tr>
                            <td colspan="2"><div class="alert alert-info">
                                <i class="fa fa-info-circle"></i>There are no records to show
                            </div></td>
                        </tr>
                        {% endif %}

                        </tbody>
                    </table>
                </div>
            </div><!--widget end -->

            <div class="toolbar">
                <div class="toolbar-field">
                    <ul class="pagination pagination-centered">
                        {% if shed_page.has_previous %}
                        <li><a href="?page=1"><< Prev</a></li>
                        <li><a href="?page={{ shed_page.previous_page_number }}">< First</a></li>
                        {%else%}
                        <li><a style="color:#dddddd"><< First</a></li>
                        <li><a style="color:#dddddd">< Prev</a></li>
                        {% endif %}

                        {% for i in shed_page.paginator.page_range %}
                        {# {% if i <= shed_page.number|add:5 and i >= shed_page.number|add:-5%} #}
                        <li {% if shed_page.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
                        {# {% endif %} #}

                        {% endfor %}

                        {% if shed_page.has_next %}
                        <li><a href="?page={{ shed_page.next_page_number }}">Next ></a></li>
                        <li><a href="?page={{ shed_page.paginator.num_pages }}">Last >></a></li>

                        {%else%}
                        <li><a style="color:#dddddd" class="disabled">Next ></a></li>
                        <li><a style="color:#dddddd" class="disabled">Last >></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

    </div><!--Inner padding end -->
</div><!--Managed sheds tab pane end -->


{% endblock %}
